<launch>

    <!-- Arguments -->
    <arg name="v_max" default="1"/>
    <arg name="a_max" default="2"/>
  
    <!-- Start Master Node -->
    <node name="master" pkg="splines" type="master_linear.py" output="screen" ns="FLA_ACL02"/>
    
    <!-- Desired max velocity-->
    <param name="v_max" type="double" value="$(arg v_max)" />

    <!-- Desired start and stop acceleration-->
    <param name="a_max" type="double" value="$(arg a_max)" />

</launch>
